@import '../../../styles/_variables';
@import '../../../styles/_mixins';
.page-container{
    padding-left: $m-lg;
    padding-right: $m-lg;
    min-height: 60%;//60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $m-md;
    justify-content: center;

    &--align-t{
        justify-content: flex-start;
    }

    @include mdMinBreakPoint {
        padding-left: $m-xxl;
        padding-right: $m-xxl;
        min-height: 100vh;
        padding-top: 0;
    }

    &--with-drawer{
        position: relative;
    }
}