@import '../../../styles/_typography';

.attendees-table{
    border-collapse: collapse;
    margin: toRem(25) 0;
    font-size: 0.9em;
    font-family: $secondary-font;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    & ul li{
        font-size: 0.9em;
        font-family: $secondary-font;    
        font-weight: 400;
        line-height: toRem(16);
    }

    @include lgMinBreakPoint {
        min-width: toRem(400);
    }

    & thead tr{
        background-color: #af9a99;
        color: #ffffff;
        text-align: center;
        border-collapse: collapse;
    }

    & th, & td{
        padding: toRem(12) toRem(15);
        line-height: toRem(16);
    }

    & th{
        &:first-child{
            border-top-left-radius: toRem(8);
        }
        &:last-child{
            border-top-right-radius: toRem(8);
        }
    }

    & tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    & tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    & tbody tr:last-of-type {
        border-bottom: toRem(2) solid #C3ADAC;
    }
}