
@import '../../../styles/_variables';
@import '../../../styles/mixins';

.image-container{
    &--xsmall{
        width: toRem(30);
    }
    &--small{
        width: toRem(50);
    }
    &--medium{
        width: toRem(60);
    }
    &--large{
        width: toRem(90);
    }

    & img{
        display: block;
        width: 100%;
        height: auto;
    }

    @include mdMinBreakPoint {
        &--xsmall{
            width: toRem(50);
        }
        &--small{
            width: toRem(60);
        }
        &--medium{
            width: toRem(90);
        }
        &--large{
            width: toRem(100);
        }
    }
}