@import './styles/global.scss';


.App{
    &-test{
        background-color: red;
        height: 100vh;
        width: 100vw;
    
        @include smMinBreakPoint {
            background-color: yellow;
        }
    
        @include mdMinBreakPoint {
            background-color: green;
        }
    
    
        @include lgMinBreakPoint {
            background-color: orange;
        }
    
    
        @include xlMinBreakPoint {
            background-color: blue;
        }
    
        @include xxlMinBreakPoint {
            background-color: black;
        }
    }

}