@import '../../../styles/_variables';
@import '../../../styles/_mixins';
.gifts{
    position: relative;
    height: 70vh;
    padding-top: $m-md;
    margin-bottom: $m-md;
    @include lgMinBreakPoint {
        height: 95vh;
        padding-top: $m-xxl;
    }

    &__bottom-image{
        width: toRem(120);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @include mdMinBreakPoint {
            width: toRem(288);
        }
        
        & img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
}