@import '../../../styles/_variables';
@import '../../../styles/_mixins';

.single-column-layout{
    & .section-intro{
        &__background-image{
            position: relative;
            height: toRem(230);
            margin-bottom: 1rem;    

            @include mdMinBreakPoint {
                height: toRem(434);
            }
            &--full-h{
                height: calc(var(--vh, 1vh) * 85);
                position: relative;
                & .page-title-container{
                    padding: 10% 20% 10% 8%;
                }
            }
        }
    }
}