.single-column-layout{
    & .section-intro{
        &__background-image{
            position: relative;
            height: 30vh;
            margin-bottom: 1rem;
            //margin-top: 1rem;
            &--full-h{
                height: 100vh;
                position: unset;
                & .page-title-container{
                    padding: 10% 20% 10% 8%;
                }
            }
        }
    }

    & .page-container {
        min-height: 70vh;
    }
}