@import '../../../styles/_variables';

.urbino{
    position: relative;
    & .guests-info{
        display: flex;
        align-items: center;
        & h4{
            text-decoration: underline;
            margin-left: toRem(10);
        }
    }
}
