@import '../../../styles/_variables';
@import '../../../styles/mixins';

.line{
    &--divider{
        background-color: $gray;
        &-horizontal{
            width: 100%;
            height: toRem(1); 
        }
    }
    &--timeline{
        background-color: $black;
        &-horizontal{
            width: toRem(104);
            height: toRem(3);
            @include mdMinBreakPoint {
                width: toRem(104);
            }
            @include lgMinBreakPoint {
                width: toRem(106);
            }
            @include xlMinBreakPoint {
                width: toRem(174);
            }
            
        }
        &-vertical{
            width: toRem(3);
            height: 74%;
            // @include mdMinBreakPoint {
            //     height: toRem(550);
            // }
        }
    }
}