@-webkit-keyframes arrow-bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%, 60% {
        -webkit-transform: translateY(-23px);
        transform: translateY(-23px);
    }
}
@keyframes arrow-bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%, 60% {
        -webkit-transform: translateY(-23px);
        transform: translateY(-23px);
    }
}
  

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-in-up {
    animation-name: fadeInUp
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-in-down {
    animation-name: fadeInDown
}