@-webkit-keyframes arrow-bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%, 60% {
        -webkit-transform: translateY(-23px);
        transform: translateY(-23px);
    }
}
@keyframes arrow-bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%, 60% {
        -webkit-transform: translateY(-23px);
        transform: translateY(-23px);
    }
}
  

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-in-up {
    animation-name: fadeInUp
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.fade-in-down {
    animation-name: fadeInDown
}

@keyframes slide-in-right{
    0%{
        transform:translateX(1000px);
        opacity: 0;
    }
    100%{
        transform:translateX(0px);
        opacity: 1;
    }
}

.slide-in-right{
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-out-right{
    0%{
        transform:translateX(0px);
        opacity: 1;
    }
    100%{
        transform:translateX(1000px);
        opacity: 0;
    }
}

.slide-out-right{
    animation: slide-out-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
