@import './variables';

body.no-scroll{
	margin: 0; 
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mb-xs{
	margin-bottom:$m-xxs;
}
.mb-s{
	margin-bottom:$m-xxs;
}
.mb-md{
	margin-bottom:$m-xs;
}
.mb-lg{
	margin-bottom:$m-s;
}
.mb-xl{
	margin-bottom:$m-md;
}

.mb-xxl{
	margin-bottom:$m-lg;
}

.mt-xs{
	margin-top:$m-xxs;
}
.mt-s{
	margin-top:$m-xxs;
}
.mt-md{
	margin-top:$m-xs;
}
.mt-lg{
	margin-top:$m-s;
}
.mt-xl{
	margin-top:$m-md;
}
.mt-xxl{
	margin-top:$m-lg;
}

.mr-xs{
	margin-right:$m-xxs;
}
.mr-s{
	margin-right:$m-xxs;
}
.mr-md{
	margin-right:$m-xs;
}
.mr-lg{
	margin-right:$m-s;
}
.mr-xl{
	margin-right:$m-md;
}
.mr-xxl{
	margin-right:$m-lg;
}

.ml-xs{
	margin-left:$m-xxs;
}
.ml-s{
	margin-left:$m-xxs;
}
.ml-md{
	margin-left:$m-xs;
}
.ml-lg{
	margin-left:$m-s;
}
.ml-xl{
	margin-left:$m-md;
}
.ml-xxl{
	margin-left:$m-lg;
}



.txt-center{
	text-align: center;
}

.new-line {
    white-space: pre-line;
}


@include mdMinBreakPoint {
	.mb-xs{
		margin-bottom:$m-xs;
	}
	.mb-s{
		margin-bottom:$m-s;
	}
	.mb-md{
		margin-bottom:$m-md;
	}
	.mb-lg{
		margin-bottom:$m-lg;
	}
	.mb-xl{
		margin-bottom:$m-xl;
	}

	.mb-xxl{
		margin-bottom:$m-xxl;
	}

	.mt-xs{
		margin-top:$m-xs;
	}
	.mt-s{
		margin-top:$m-s;
	}
	.mt-md{
		margin-top:$m-md;
	}
	.mt-lg{
		margin-top:$m-lg;
	}
	.mt-xl{
		margin-top:$m-xl;
	}
	.mt-xxl{
		margin-top:$m-xxl;
	}

	.mr-xs{
		margin-right:$m-xs;
	}
	.mr-s{
		margin-right:$m-s;
	}
	.mr-md{
		margin-right:$m-md;
	}
	.mr-lg{
		margin-right:$m-lg;
	}
	.mr-xl{
		margin-right:$m-xl;
	}
	.mr-xxl{
		margin-right:$m-xxl;
	}
}