@import '../../../styles/_variables';
@import '../../../styles/_mixins';

.rsvp-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $m-xxl;
    margin-top: $m-md;
    
    @include mdMinBreakPoint {
        margin-bottom: 0;
    }
}