@import '../../../styles/_variables';
@import '../../../styles/mixins';
.ceremony-info{
    padding-left: toRem(18);
    padding-right: toRem(18);
    text-align: center;

    &-title{
        font-weight: bold;
    }
}

#ceremony-map{
    height: 300px;
    width: 300px;
    margin: 0 auto;

    & iframe{
        height: 100%;
        width: 100%;
    }
}

.paid-parking-info a{
    display: block;
}