@import '../../../styles/_variables';

.contactUs{
    position: relative;

    &-contact-wrapper{
        &-info{
            
            & svg{
                margin-right: toRem(10);
            }
        }
    }
    & .guests-info{
        display: flex;
        align-items: center;
        justify-content: center;
        & h4{
            text-decoration: underline;
            margin-left: toRem(10);
            cursor: pointer;
            font-weight: bold;
        }
    }
}
