@import '../../../styles/_variables';
@import '../../../styles/mixins';

.location-info{
    text-align: center;

    & h2{
        @include lgMinBreakPoint {
            font-size: 2rem;
        }
    }

    &-directions{
        &-title{
            font-weight: bold;
        }

        &-wrapper{
            @include lgMinBreakPoint {
                max-width: 80%;
                text-align: center;
                margin: 0 auto;
            }
        }

        &-section{
            & .title-with-icon{
                & h2{
                    margin-top: 0;
                }
            }
            &-content{
                @include lgMinBreakPoint {
                    max-width: 80%;
                }
                margin: 0 auto;

                & .paid-parking-info a{
                    display: block;
                }
            }
        }
    }
}

#location-info-address-map{
    height: 200px;
    width: 300px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include lgMinBreakPoint {
        height: 300px;
        width: auto;
    }
}