@import '../../../styles/_mixins';

.side-drawer{
    opacity: 0;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    background-color: $bg-primary;
    width: 100vw;
    right: -2000px;
    z-index: 2;
    max-height: calc(var(--vh, 1vh) * 100);
    overflow-y: scroll;

    @include lgMinBreakPoint {
        width: 60vw;
    }

    &-sections{
        padding-left: toRem(18);
        padding-right: toRem(18);
        margin-top: toRem(-20);
        @include lgMinBreakPoint {
            margin-top: toRem(-40);
            padding-left: toRem(56);
            padding-right: toRem(56);
        }
    }

    &-close-icon--arrow{
        position: sticky;
        top: 50%;
        left: 0;
        cursor: pointer;
        & svg{
            transform: rotate(270deg);
            width: toRem(30);
            height: toRem(10);

            @include lgMinBreakPoint {
                width: toRem(66);
                height: toRem(20);
            }
        }
    }

    &-close-icon--cross{
        cursor: pointer;
        position: absolute;
        top: toRem(10);
        right: toRem(18);
    }

    &-backdrop{
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: #000000bf;
    }
}

