.side-drawer{
    opacity: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: white;
    width: 80vw;
    right: -2000px;

    &-close-icon{
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translate(-50%, -50%);
        & svg{
            transform: rotate(270deg);
        }
    }
}