@import '../../../styles/_variables';

.two-columns-layout{
    display: block;
    height: 100%;  
    position: relative;

    &-left{
        background-color: $bg-no-photo;
        overflow: hidden;
        left: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        width: 61%;
        transition: all cubic-bezier(.19,1,.22,1) .4s;

        // &__background-image{
        //     background-size: cover;
        //     background-position: center center;
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     background-repeat: no-repeat;
        //     transition: opacity 1s,background-position 2s cubic-bezier(.25,.46,.195,1);

        //     &.hide{
        //         opacity: 0;
        //     }
        // }
    }

    &-right{
        position: static;
        background-color: $bg-primary;
        width: 39%;
        margin-left: auto;
        right: 0;

        &-section{
            min-height: 100vh;
        }
    }
}