@import '../../../styles/_variables';

.two-columns-layout{
    display: block;
    height: 100%;  
    position: relative;

    &-left{
        background-color: $bg-no-photo;
        overflow: hidden;
        left: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        width: 61%;
        transition: all cubic-bezier(.19,1,.22,1) .4s;
    }

    &-right{
        position: static;
        background-color: $bg-primary;
        width: 39%;
        margin-left: auto;
        right: 0;

        &-section{
            min-height: calc(var(--vh, 1vh) * 100);
        }
    }
}